.DS_Store
vim/.vim/autoload/plug.vim
vim/.vim/plugged/
vim/.vim/backups/*
*.sqlite3
log/*
*.log
pkg
tmp
*.sw[nop]
tags
tmp/**/*
node_modules/
.sass-cache/
tags
*.pyc
__pycache__/
coverage
packer_compiled.lua
